$brk-base-colors: ();
$brk-base-colors: map-merge((
				"brand-primary":      #23dae8,
				"secondary":          #14f4d2,
				"white":              #fff,
				"black":              #000,
				"brk-dark-base":      #40406c,
				"brk-base-1":         #5f2ee6,
				"brk-base-2":         #765acc,
				"brk-base-3":         #6f40f2,
				"brk-base-4":         #8468da,
				"brk-base-5":         #00f6ff,
				"brk-base-6":         #0B98F6,
				"brk-base-7":         #a7ebff,
				"brk-base-8":         #3472d8,
				"brk-secondary-1":    #4f34c9,
				"brk-secondary-2":    #272727,
				"brk-secondary-3":    #7400ba,
				"brk-secondary-4":    #6e50c2,
				"brk-secondary-5":    #6377DF,
				"brk-secondary-6":    #765acc,
				"text-base-color-1":  rgba(227, 229, 244, .3),
				"text-base-color-2":  #c4c4c4,
				"text-base-color-3":  #f3f3f3,
        "form-color-1":				#e8ecff
), $brk-base-colors);

@function safe-rgb($color) {
	@return unquote("#{red($color)}, #{green($color)}, #{blue($color)}");
}

/* ----------- Palette variable ----------- */
:root {
	@each $color, $value in $brk-base-colors {
		--#{$color}: #{$value};
	}

	// RGB
	@each $color, $value in $brk-base-colors {
		--#{$color}-rgb: #{safe-rgb($value)};
  }
  
  --b-radius: inherit; 
}
/* ----------- Palette variable ----------- */