$brk-base-colors: ();
$brk-base-colors: map-merge(
    (
        "brand-primary": #121212,
        "secondary": #373737,
        "white": #fff,
        "black": #000,
        "brk-dark-base": #272727,
        "brk-base-1": #121212,
        "brk-base-2": #282828,
        "brk-base-3": #868686,
        "brk-base-4": #868686,
        "brk-base-5": #868686,
        "brk-base-6": #868686,
        "brk-base-7": #868686,
        "brk-base-8": #868686,
        "brk-secondary-1": #373737,
        "brk-secondary-2": #373737,
        "brk-secondary-3": #373737,
        "brk-secondary-4": #373737,
        "brk-secondary-5": #373737,
        "brk-secondary-6": #373737,
        "text-base-color-1": #c4c4c4,
        "text-base-color-2": #373737,
        "text-base-color-3": #f3f3f3,
        "form-color-1": #e8ecff
    ),
    $brk-base-colors
);

@function safe-rgb($color) {
    @return unquote("#{red($color)}, #{green($color)}, #{blue($color)}");
}

/* ----------- Palette variable ----------- */
:root {
    @each $color, $value in $brk-base-colors {
        --#{$color}: #{$value};
    }

    // RGB
    @each $color, $value in $brk-base-colors {
        --#{$color}-rgb: #{safe-rgb($value)};
    }

    --b-radius: inherit;
}

/* ----------- Palette variable ----------- */
