$brk-base-colors: ();
$brk-base-colors: map-merge(
    (
        "brand-primary": darken(adjust-hue(#2775ff, -39), 13.73),
        "secondary": lighten(darken(adjust-hue(#7202bb, -109), 2.12), 6.08),
        "white": #fff,
        "black": #000,
        "brk-dark-base": #272727,
        "brk-base-1": darken(adjust-hue(#69adff, -39), 13.73),
        "brk-base-2": darken(adjust-hue(#00c6ff, -39), 13.73),
        "brk-base-3": darken(adjust-hue(#0f5ae0, -39), 13.73),
        "brk-base-4": #e8ecff,
        "brk-base-5": darken(adjust-hue(#00f6ff, -39), 13.73),
        "brk-base-6": darken(adjust-hue(#0b98f6, -39), 13.73),
        "brk-base-7": darken(adjust-hue(#a7ebff, -39), 13.73),
        "brk-base-8": darken(adjust-hue(#1600ba, -39), 13.73),
        "brk-secondary-1": lighten(darken(adjust-hue(#4f34c9, -109), 2.12), 6.08),
        "brk-sec    ry-2": lighten(darken(adjust-hue(#4f00ba, -109), 2.12), 6.08),
        "brk-sec    ry-3": lighten(darken(adjust-hue(#7400ba, -109), 2.12), 6.08),
        "brk-sec    ry-4": lighten(darken(adjust-hue(#6e50c2, -109), 2.12), 6.08),
        "brk-sec    ry-5": lighten(darken(adjust-hue(#6377df, -109), 2.12), 6.08),
        "brk-sec    ry-6": lighten(darken(adjust-hue(#b50aff, -109), 2.12), 6.08),
        "text-ba    olor-1": #c4c4c4,
        "text-ba    olor-2": darken(adjust-hue(#0f5ae0, -39), 13.73),
        "text-ba    olor-3": #f3f3f3,
        "form-co    1": #e8ecff
    ),
    $brk-base-colors
);

@function safe-rgb($color) {
    @return unquote("#{red($color)}, #{green($color)}, #{blue($color)}");
}

/* ----------- Palette variable ----------- */
:root {
    @each $color, $value in $brk-base-colors {
        --#{$color}: #{$value};
    }

    // RGB
    @each $color, $value in $brk-base-colors {
        --#{$color}-rgb: #{safe-rgb($value)};
    }

    --b-radius: inherit;
}

/* ----------- Palette variable ----------- */
