$brk-base-colors: ();
$brk-base-colors: map-merge(
    (
        "brand-primary": #f83365,
        "secondary": #c23381,
        "white": #fff,
        "black": #000,
        "brk-dark-base": #272727,
        "brk-base-1": #2c354c,
        "brk-base-2": #f83365,
        "brk-base-3": #f83365,
        "brk-base-4": rgba(44, 53, 76, 0.86),
        "brk-base-5": #f83365,
        "brk-base-6": #f83365,
        "brk-base-7": #f83365,
        "brk-base-8": #f83365,
        "brk-secondary-1": #2c354c,
        "brk-secondary-2": #c23381,
        "brk-secondary-3": #c23381,
        "brk-secondary-4": #c23381,
        "brk-secondary-5": #c23381,
        "brk-secondary-6": #c23381,
        "text-base-color-1": #c4c4c4,
        "text-base-color-2": #c23381,
        "text-base-color-3": #f3f3f3,
        "form-color-1": #e5e5e5
    ),
    $brk-base-colors
);

.colors {
    color: #f83365; //gradient   primary
    color: #c23381; //gradient   secondary
    color: #2c354c; //gradient
    color: #26334f; //gradient
}

@function safe-rgb($color) {
    @return unquote("#{red($color)}, #{green($color)}, #{blue($color)}");
}

/* ----------- Palette variable ----------- */
:root {
    @each $color, $value in $brk-base-colors {
        --#{$color}: #{$value};
    }

    // RGB
    @each $color, $value in $brk-base-colors {
        --#{$color}-rgb: #{safe-rgb($value)};
    }

    --b-radius: inherit;
}

/* ----------- Palette variable ----------- */
