$brk-base-colors: ();
$brk-base-colors: map-merge(
    (
        "brand-primary": #d0a05e,
        "secondary": #d0a05e,
        "white": #fff,
        "black": #000,
        "brk-dark-base": #272727,
        "brk-base-1": #d0a05e,
        "brk-base-2": #d0a05e,
        "brk-base-3": #d0a05e,
        "brk-base-4": #ffe6b6,
        "brk-base-5": #ffe3b0,
        "brk-base-6": #d0a05e,
        "brk-base-7": #d0a05e,
        "brk-base-8": #d0a05e,
        "brk-secondary-1": #d0a05e,
        "brk-secondary-2": #d0a05e,
        "brk-secondary-3": #d0a05e,
        "brk-secondary-4": #d0a05e,
        "brk-secondary-5": #d0a05e,
        "brk-secondary-6": #d0a05e,
        "text-base-color-1": #c4c4c4,
        "text-base-color-2": #c4955c,
        "text-base-color-3": #f3f3f3,
        "form-color-1": #d4d2d2
    ),
    $brk-base-colors
);

@function safe-rgb($color) {
    @return unquote("#{red($color)}, #{green($color)}, #{blue($color)}");
}

/* ----------- Palette variable ----------- */
:root {
    @each $color, $value in $brk-base-colors {
        --#{$color}: #{$value};
    }

    // RGB
    @each $color, $value in $brk-base-colors {
        --#{$color}-rgb: #{safe-rgb($value)};
    }

    --b-radius: inherit;
}

/* ----------- Palette variable ----------- */
